.exch-section {
  width: 80vw;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  gap: 1rem;
}

.options input {
  margin: 0 0.2rem;
}

.exch-cont {
  width: 80vw;
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 4rem;
}

.card {
  width: 208px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.2s linear;
  cursor: pointer;
}

.card img {
  width: 50px;
  height: 50px;
}

.card:hover {
  transform: scale(1.07);
}

input,
label {
  cursor: pointer;
}

.prev-next {
  display: flex;
  justify-content: space-around;
}

.prev-next button {
  background-color: blueviolet;
  color: white;
  padding: 0.4rem 1.5rem;
  border-radius: 5px;
  transition: all 0.2s linear;
}

.prev-next button:hover {
  transform: scale(1.05);
}

.prev-next button:active {
  transform: scale(1);
}

.prev-next button:disabled {
  opacity: 0.5;
}

.prev-next button:disabled:hover {
  transform: scale(1);
}

@media (max-width: 400px) {
  .options {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}
